<!-- templates/userprofile/delete_profile.html -->
{% extends 'base.html' %}

{% block content %}
<div class="d-flex flex-column align-items-center">
    <div class="content-section" style="padding: 2%; background-color: white">
        <form method="POST">
            {% csrf_token %}
            <fieldset class="form-group">
                <legend class="border-bottom mb-4">Delete User Account</legend>
                    <p>Are you sure you want to delete your account?  This will permanently delete your
                    profile and any content you have generated.</p>
                    {{ form }}
            </fieldset>
            <div class="form-group">
                <button class="btn btn-danger" type="submit">Delete Account</button>
                <a class="btn btn-primary-custom" href="{% url 'profile_page' %}">Cancel</a>
            </div>
        </form>
    </div>
</div>

{% endblock %}
