<!-- templates/userprofile/edit_profile.html -->
{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block content %}

  <div class="content-section" style="padding: 2%; background-color: white">
      <div class="media">
        <img class="rounded-circle account-img" src="{{ user.profile.image.url }}">
      </div>
    <div class="form-group col-sm-4 col-sm-offset-4  align=center">
    <form method="POST" enctype="multipart/form-data" style="background-color: white;">
          {% csrf_token %}
          <fieldset class="form-group">
              <legend class="border-bottom mb-4">{{user.username}}'s Profile Info</legend>
              {{ u_form|crispy }}
              {{ p_form|crispy }}
          </fieldset>
          <div class="form-group" style="margin-top: 1rem">
              <button class="btn btn-primary" type="submit">Update</button>
              <a href="{% url 'profile_page' %}" style="text-decoration:none;">Go Back</a>
              <p>
                <br>
                <a href="{% url 'profile_delete' %}" style="text-decoration:none; color: red">Delete Profile</a>
              </p>            
          </div>
    </form>
    </div>
  </div>
{% endblock %}
