<!-- templates/userprofile/profile_page.html -->
{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block content %}

<div class="d-flex flex-column align-items-center">
    <h1 style="color: white;">{{ user.username }}'s Profile Page</h1>

    <div class="content-section container" style="padding:1%; background-color: white">
        <div class="media">
            <img class="rounded-circle account-img" src="{{ user.profile.image.url }}">
        </div>

        <div>
            <h4 class="border-bottom mb-4">{{ user.first_name }} {{ user.last_name }}</h4>
            <p style = "font-size: 18px;"><b>Username:</b> {{ user.username }}</p>
            <p style = "font-size: 18px;"><b>Email: </b> {{ user.email }}</p>
            <p style = "font-size: 18px;"><b>Location: </b>{{ user.profile.location }}</p>
            <p style = "font-size: 18px;"><b>Willing to Travel To: </b> {{ user.profile.distance }}</p>
            <p style = "font-size: 18px;"><b>Car: </b> {{ user.profile.car}}</p>
            <p style = "font-size: 18px;" class="border-bottom mb-4"><b>Interests:</b></p>
            <ul>
                {% for key, value in profile_dic.items %}
                    {% if value == True %}
                        <li>{{ key }}</li>
                    {% endif %}
                {% endfor %}
            </ul>
        </div>
        <br>
        <a href="{% url 'profile_edit' %}" style="text-decoration:none;">Edit Profile</a>

  </div>
</div>
{% endblock %}
