<!-- templates/registration/login.html -->
{% extends 'base.html' %}

{% block title %}Facilities{% endblock %}

{% block content %}
  
  <div style="background-color: white; padding: 2rem" class="container">
  <div style="margin-left: 1rem;">
    <div class="flex-container" style="display:flex; justify-content: space-evenly; flex-wrap: wrap">

      <div class="flex-child" style="flex-basis:40%; flex-direction: column; margin-bottom: 4rem"> 
          <h1 class= "border-bottom mb-4"> Facility Information </h1>
          <div style = "font-size: 18px;"><b>Name:</b> {{ name }}</div>
          <div style = "font-size: 18px;"><b>Address</b> : <span id="address"></span></div>
          <div style = "font-size: 18px;"><b>Location ID:</b> {{ id }}</div>
          <div style = "font-size: 18px;"><b>Dimensions:</b> {{ dimensions }}</div>
          <div style = "font-size: 18px;"><b>Wheelchair Accessible:</b> {{ wheelchair }}</div>
      </div>

      <div class="flex-child"style="flex-basis:40%; margin-bottom: 4rem; margin-top: 4rem">
        <h3 class= "mb-2">Sports Available</h3>
        {% for key, value in sports.items %}
          {% if value == 'Yes' %}
            <div style="margin:1rem"> 
                 <h5>{{ key }}</h5>
                  <a class="btn btn-sm btn-outline-primary" href="{% url 'add-event' key id %}">Create {{ key }} Event</a>
            </div>
          {% endif %}
        {% endfor %}
      </div>
    
    </div>
    {% if events|length != 0 %}
    <div>
      <h3 class = "mb-4" style="margin-left: 2rem">Events at this location</h3>
      <div style="display: flex; flex-direction:row; flex-wrap: wrap">
        {% for event in events %}
           <div class="card" style="width: 20rem; margin: 1rem">
            {% if event.sport == "Bocce" %}
              <img class="card-img-top" style="max-height: 200px;
              min-height: 200px;" src="../../../media/sports/bocce.jpg">
            {% elif event.sport == "Baseball" %}
              <img class="card-img-top" style="max-height: 200px;
              min-height: 200px;" src="../../../media/sports/baseball.jpg">
            {% elif event.sport == "Basketball" %}
              <img class="card-img-top" style="max-height: 200px;
              min-height: 200px;" src="../../../media/sports/basketball.jpg">
            {% elif event.sport == "Cricket" %}
              <img class="card-img-top" style="max-height: 200px;
              min-height: 200px;" src="../../../media/sports/cricket.jpg">
            {% elif event.sport == "Flag Football" %}
              <img class="card-img-top" style="max-height: 200px;
              min-height: 200px;" src="../../../media/sports/flag_football.jpg">
            {% elif event.sport == "Football" %}
              <img class="card-img-top" style="max-height: 200px;
              min-height: 200px;" src="../../../media/sports/football.jpg">
            {% elif event.sport == "Frisbee" %}
              <img class="card-img-top" style="max-height: 200px;
              min-height: 200px;" src="../../../media/sports/frisbee.jpg">
            {% elif event.sport == "Handball" %}
              <img class="card-img-top" style="max-height: 200px;
              min-height: 200px;" src="../../../media/sports/handball.jpg">
            {% elif event.sport == "Hiking" %}
              <img class="card-img-top" style="max-height: 200px;
              min-height: 200px;" src="../../../media/sports/hiking.jpg">
            {% elif event.sport == "Hockey" %}
              <img class="card-img-top" style="max-height: 200px;
              min-height: 200px;" src="../../../media/sports/hockey.jpg">
            {% elif event.sport == "Kickball" %}
              <img class="card-img-top" style="max-height: 200px;
              min-height: 200px;" src="../../../media/sports/kickball.jpg">
            {% elif event.sport == "Lacrosse" %}
              <img class="card-img-top" style="max-height: 200px;
              min-height: 200px;" src="../../../media/sports/lacrosse.jpg">
            {% elif event.sport == "Netball" %}
              <img class="card-img-top" style="max-height: 200px;
              min-height: 200px;" src="../../../media/sports/netball.jpg">
            {% elif event.sport == "Rugby" %}
              <img class="card-img-top" style="max-height: 200px;
              min-height: 200px;" src="../../../media/sports/rugby.jpg">
            {% elif event.sport == "Softball" %}
              <img class="card-img-top" style="max-height: 200px;
              min-height: 200px;" src="../../../media/sports/softball.jpg">
            {% elif event.sport == "Tennis" %}
              <img class="card-img-top" style="max-height: 200px;
              min-height: 200px;" src="../../../media/sports/tennis.jpg">
            {% elif event.sport == "Volleyball" %}
              <img class="card-img-top" style="max-height: 200px;
              min-height: 200px;" src="../../../media/sports/volleyball.jpg">
            {%endif%}
            <div class="card-body" style="text-align: left">
              <h4>    
                <a href="{% url 'event-detail' event.id %}">{{event.name}}</a>
              </h4>
              <div style = "font-size: 18px;"><b>Sport: </b> {{event.sport.capitalize}}</div>
              <div style = "font-size: 18px;"><b>Squad Capacity: </b> {{event.numberOfPlayers}}</div>
              <div style = "font-size: 18px;"><b>Venue: </b> {{event.address}}</div>
              {% if event.borough != "" %}
                <div style = "font-size: 18px;"><b>Borough: </b> {{event.borough}}</div>
              {% endif %}
              <div style = "font-size: 18px;"><b>Date: </b> {{event.date}}</div>
              <div style = "font-size: 18px;"><b>Creator: </b> {{event.owner}}</div> 
            </div>
          </div>
        {% endfor %}

      </div>
    </div>
    {% endif %}

    </div>
  </div>

<script>
  const getAddress = async () => {
    await fetch(`https://api.mapbox.com/geocoding/v5/mapbox.places/{{ coordinates.0.0.0.0 }},{{ coordinates.0.0.0.1 }}.json?access_token={{ mapbox_access_token }}`)
      .then((response) => {
        return response.json();
      })
      .then((myJson) => {
        const ADDRESS_INDEX = 0;
        const address = myJson.features[ADDRESS_INDEX].place_name;
        document.getElementById("address").textContent = address;
        return address;
      });
  }

  getAddress();
</script>

{% endblock %}
