{% extends 'base.html' %}

{% block title %}Trails{% endblock %}

{% block content %}

<div style="background-color: white;">
<div style="margin-left: 1rem">
  <h1> {{ name }} </h1> 

    <h2>Information</h2>
    <div>
      <ul>
        <li>Name : {{ name }}</li>
        <li>Park : {{ park }}</li>
        <li>Location : {{ location }}</li>
        <li>Length : {{ length }}</li>
        <li>Difficulty : {{ difficulty }}</li>
        <li>Details : {{details}} </li>
        <li>Accesible : {{ accessible }}</li>
        <li>Limited Accesibilty : {{ limited_access }}</li>
      <ul>
    </div>
    
  <h2>Events at this location</h2>
  <div style="display: flex; flex-direction:row; flex-wrap: wrap">
    {% for event in events %}
      <div class="card" style="width: 20rem; margin: 1rem; border: 0.1rem solid black">
        <div class="card-body">
        <h1>    
          <a href="{% url 'event-detail' event.id %}">{{event.name}}</a>
        </h1> 
        <p>{{event.description}}</p>
        <p>Sport: {{event.sport}}</p>
        <p>Number of People Needed: {{event.numberOfPlayers}}</p>
        <p>Address: {{event.address}}</p>
        {% if event.borough != "" %}
          <p>Borough: {{event.borough}}</p>
        {% endif %}
        <p>{{event.date}}</p>
        <p>Creator: {{event.owner}}</p>
        </div>
      </div>
    {% endfor %}
  </div>



  <a class="btn btn-primary" href="{% url 'add-event' 'Hiking' id %}" style="margin-bottom: 1rem">Create Hiking Event</a>

</div>
</div>
{% endblock %} 
