{% extends 'base.html' %}

{% block title %}About Us{% endblock %}

{% block content %}
<div class="d-flex flex-column align-items-center">
<div style="background-color: white;">
<div style="margin-left: 1em">
  <h2> About Us </h2>
  <div>This project was created by Team 3: Jaspreet, Susmita, Swathi, Marcus, and Indu.</div>
<div> It was created as part of the fall 2021 graduate Software Engineering course at NYU Tandon. </div>

    <h2> Want to say hi? </h2>
    <div> Write to us at:
     <a href="mailto: outdoorsquadf21@gmail.com">Email</a>

{% endblock %}
