<!-- templates/base.html -->
<!DOCTYPE html>

<html>
{% block headcontent %}
<head>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{% block title %}Outdoor Squad{% endblock %}</title>
</head>
{% endblock %}

<style>
  body {
    background-image: url("https://i.ibb.co/zZRS5GM/pexels-digital-buggu-186405.jpg");
    background-repeat: no-repeat;
    background-size: cover;
  }
</style>

<body>
  
  <nav class="navbar navbar-expand-sm navbar-dark">
    <div class="container-fluid">
      <a style="margin-left: 1rem" class="navbar-brand ml-5" href="{% url 'home' %}">Outdoor Squad</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarContent">

        {% if user.is_authenticated %}
        <ul class="navbar-nav">
          <li class="nav-item active">
            <a class="nav-link" style="color: white" href="{% url 'home' %}">Home</a>
          </li>
          <li class="nav-item active">
            <a class="nav-link" style="color: white" href="#">About</a>
          </li>

          <li class="nav-item">
            <div class="dropdown">
              <a class="nav-link" style="color: white" href="#" class="d-flex align-items-center text-white text-decoration-none dropdown-toggle" id="dropdownUser1" data-bs-toggle="dropdown" aria-expanded="false">Map</a>
              <ul class="dropdown-menu dropdown-menu-dark text-large shadow" aria-labelledby="dropdownUser1">
                <li><a class="dropdown-item" href="{% url 'default_map'%}">All Activities</a></li>
                <li><hr class="dropdown-divider"></li>
                <li><a class="dropdown-item" href="{% url 'baseball_map'%}">Baseball</a></li>
                <li><a class="dropdown-item" href="{% url 'basketball_map'%}">Basketball</a></li>
                <li><a class="dropdown-item" href="{% url 'bocce_map'%}">Bocce</a></li>
                <li><a class="dropdown-item" href="{% url 'cricket_map'%}">Cricket</a></li>
                <li><a class="dropdown-item" href="{% url 'flag_football_map'%}">Flag Football</a></li>
                <li><a class="dropdown-item" href="{% url 'football_map'%}">Football</a></li>
                <li><a class="dropdown-item" href="{% url 'frisbee_map'%}">Frisbee</a></li>
                <li><a class="dropdown-item" href="{% url 'handball_map'%}">Handball</a></li>
                <li><a class="dropdown-item" href="{% url 'hiking_map'%}">Hiking</a></li>
                <li><a class="dropdown-item" href="{% url 'hockey_map'%}">Hockey</a></li>
                <li><a class="dropdown-item" href="{% url 'kickball_map'%}">Kickball</a></li>
                <li><a class="dropdown-item" href="{% url 'lacrosse_map'%}">Lacrosse</a></li>
                <li><a class="dropdown-item" href="{% url 'netball_map'%}">Netball</a></li>
                <li><a class="dropdown-item" href="{% url 'rugby_map'%}">Rugby</a></li>
                <li><a class="dropdown-item" href="{% url 'softball_map'%}">Softball</a></li>
                <li><a class="dropdown-item" href="{% url 'tennis_map'%}">Tennis</a></li>
                <li><a class="dropdown-item" href="{% url 'volleyball_map'%}">Volleyball</a></li>
              </ul>
            </div>
          </li>
          <li class="nav-item">
            <a class="nav-link" style="color: white" href="{% url 'events-list'%}">Events</a>
          </li>
        </ul>
        <ul style="margin-right: 4rem" class="navbar-nav ms-auto">
          <li>
            <div class="dropdown">
              <a style="margin-right: 1rem" href="#" class="d-flex align-items-center text-white text-decoration-none dropdown-toggle" id="dropdownUser1" data-bs-toggle="dropdown" aria-expanded="false">
                <img src="{{ user.profile.image.url }}" alt="" width="32" height="32" class="rounded-circle me-2">
                <strong>{{ user.username }}</strong>
              </a>
              <ul class="dropdown-menu dropdown-menu-dark text-large shadow" aria-labelledby="dropdownUser1">
                <li><a class="dropdown-item" href="{% url 'profile_page'%}">Profile</a></li>
                <li><a class="dropdown-item" href="#">Contact Us</a></li>
                <li><a class="dropdown-item" href="{% url 'password_reset' %}">Reset Password</a></li>
                <li><hr class="dropdown-divider"></li>
                <li><a class="dropdown-item" href="{% url 'logout' %}">Log Out</a>
              </ul>
            </div>
          </li>
        </ul>
        {% else %}
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link" style="color: white" href="{% url 'home' %}">Home</a>
          </li>
          <li class="nav-item active">
            <a class="nav-link" style="color: white" href="#">About</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" style="color: white" href="{% url 'default_map'%}">Explore</a>
          </li>
        </ul>
        <ul class="navbar-nav ms-auto">
          <li class="nav-item">
            <a class="nav-link" style="color: white" href="{% url 'login' %}">Log In</a>
          </li>
        </ul>
        {% endif %} 
      </div>
    </div>

  </nav>



  <main>
    {% block content %}
    {% endblock %}
  </main>

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>

</body>
</html>
