{% extends 'base.html' %}

{% block title %}Home{% endblock %}

{% block content %}
{% if user.is_authenticated %}
<div class="d-flex flex-column align-items-center">
  <h1>Hi {{ user.first_name }} {{ user.last_name }}!</h1>
  <p>You're logged in!</p>
  <p><a href="{% url 'password_reset' %}>Reset Password</a></p>
  <img src="https://c.stocksy.com/a/Sfb200/z9/621454.jpg" width = 400 height =600 alt="">

</div>
{% else %}
<div class="d-flex flex-column align-items-center">
  <p>This is the home page. You are not logged in</p>
  <img src="https://i.pinimg.com/originals/4d/ff/59/4dff59affbdc58bb1fc34c110570c09c.jpg" width = 600 height =400 alt="">
</div>
{% endif %}
{% endblock %} 
