{% extends 'base.html' %}

{% block title %}Home{% endblock %}

{% block content %}
{% if user.is_authenticated %}
<div class="d-flex flex-column align-items-center">
  <h1 style="color: white;">Hi {{ user.first_name }} {{ user.last_name }}!</h1>
  <p style="color: white;">Upcoming Events</p>
</div>
  <div style="display: flex; flex-direction:row; flex-wrap: wrap; margin: 1rem">
  {% for event in events %}
        <div class="card" style="width: 20rem; margin: 1rem; border: 0.1rem solid black">
          <div class="card-body">
          <h1>    
            <a href="{% url 'event-detail' event.event.id %}">{{event.event.name}}</a>
          </h1> 
          <p>{{event.event.description}}</p>
          <p>Sport: {{event.event.sport.capitalize}}</p>
          <p>{{event.event.address}}</p>
          {% if event.event.borough != "" %}
            <p>Borough: {{event.event.borough}}</p>
          {% endif %}
          <p>{{event.event.date}}</p>
          <p>Creator: {{event.event.owner}}</p>
          </div>
        </div>
  {% endfor %}
  </div>
{% else %}
<div class=" d-flex justify-content-center align-items-center" style="margin-top: 18%">
  <h1 style="color:white";> Explore new ways to stay active in NYC. 
    <div class="d-flex flex-column align-items-center">
      <h1 style="color: white">Find your Outdoor Squad!</h1>
        <button class="btn btn-light";">
        <a href="{% url 'signup' %}" style="text-decoration:none; color:black">Sign Up</a>
    </div>
  </h1>
</div> 

{% endif %}
{% endblock %} 
