{% extends 'base.html' %}

{% block title %}Home{% endblock %}

{% block content %}
{% if user.is_authenticated %}
<div class="d-flex flex-column align-items-center">
  <h1 style="color: white;">Hi {{ user.first_name }} {{ user.last_name }}!</h1>
  <p style="color: white;">Upcoming Events</p>
</div>
{% else %}
<div class=" d-flex justify-content-center align-items-center" style="margin-top: 18%">
  <h1 style="color:white";> Explore new ways to stay active in NYC. 
    <div class="d-flex flex-column align-items-center">
      <h1 style="color: white">Find your Outdoor Squad!</h1>
        <button class="btn btn-light";">
        <a href="{% url 'signup' %}" style="text-decoration:none; color:black">Sign Up</a>
    </div>
  </h1>
</div> 

{% endif %}
{% endblock %} 
