{% extends 'base.html' %}

{% block title %}Contact Us{% endblock %}

{% block content %}
<div style="margin-top: 2rem" class="d-flex flex-column align-items-center">
<div style="background-color: white;" class="container">
<div style="margin: 1rem", align= "center">
  <h1> Contact Us </h1>
    <div>
    <p>Report No Show</p>
    <a class="btn btn-primary" href="{% url 'report_noshow' %}" >Report No Show</a>
    </div>
    <br>
    <div>
    <p>Report Inappropriate Behavior</p>
    <a class="btn btn-primary" href="{% url 'report_misbehavior' %}" >Report Inappropriate Behavior</a>
    </div>
    <br>
    <br>
    <div>
    <h3>
         For any other feedback, please write to us at:
         <a href="mailto: outdoorsquadf21@gmail.com">Email</a>    
    </h3>
    </div>
    <br>
</div>
</div>
</div>

{% endblock %}
