<!-- templates/userprofile/edit_profile.html -->
{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block content %}
<div class="d-flex flex-column align-items-center" style="background-color: white">
    <div class="content-section" style="margin: 1rem">
        <form method="POST">
            {% csrf_token %}
            <fieldset class="form-group">
                <legend class="border-bottom mb-4">Event Details</legend>
                {{ form|crispy }}
            </fieldset>
            <div class="form-group">
                <button class="btn btn-primary" style="margin: 1rem 0" type="submit">Submit</button>
            </div>
        </form>
    </div>
</div>
{% endblock content %}
