{% extends 'base.html' %}

{% block content %}
  <div style="text-align: center; background-color: white; height: 800px; width: 100%;">
    <h1>{{object.name}} </h1> 
    <p>{{object.description}}</p>
    <p>Sport: {{object.sport}}</p>
    <p>Number of People Needed: {{event.numberOfPlayers}}</p>
    <p>Address: {{event.address}}</p>
    {% if event.borough != "" %}
      <p>Borough: {{event.borough}}</p>
    {% endif %}
    <p>{{object.date}}</p>
    <p>Creator: {{object.owner}}</p>
    
    {% if messages %}
    <div class="messages" style="text-align: center; font-size:25px; color: red">
      {% for message in messages %}
      <b><ul  {% if message.tags %} class=" {{ message.tags }} " {% endif %}> {{ message }} </ul></b>
      {% endfor %}
    </div>
    {% endif %}

    {% if isAttending and canUnjoin %}
      <a class="btn btn-primary" href="{% url 'unjoin-event' object.id %}">Unjoin Event</a>
    {% elif not isAttending %}
      <a class="btn btn-primary" href="{% url 'join-event' object.id %}">Join Event</a>
    {% endif %}

    {% if isOwner %}
     <a class="btn btn-primary" href="{% url 'event-update' object.id %}">Update Event</a>
    {% endif %}

    {% if canDelete and isOwner %}
      <a class="btn btn-danger" href="{% url 'event-delete' object.id %}">Delete Event</a>
    {% endif %}

    <div style="margin-top: 1rem">
      {% if object.sport == 'Hiking' %}
        <a href="{% url 'trails' object.locationId %}">View all events at this location</a>
      {% else %}
        <a href="{% url 'show' object.locationId event.address %}">View all events at this location</a>
      {% endif %}    
    <div>

    <h2>Attendees</h2>
      {% for attendee in attendees %}  
        <p>{{attendee}}</p>
    {% endfor %}
  </div>

{% endblock content %} 
