{% extends 'base.html' %}

{% block content %}
  <div style="display: flex; flex-direction:row; flex-wrap: wrap; margin: 1rem">

    {% for event in events.all|dictsort:"date" %}
      <div class="card" style="width: 20rem; margin: 1rem; border: 0.1rem solid black">
        <div class="card-body">
        {% if event.date.is_past_due %}
        {% else %}
          <h1>    
            <a href="{% url 'event-detail' event.id %}">{{event.name}}</a>
          </h1> 
          <p>{{event.description}}</p>
          <p>Sport: {{event.sport}}</p>
          <p>Number of People Needed: {{event.numberOfPlayers}}</p>   
          <p>Address: {{event.address}}</p>
          {% if event.borough != "" %}
            <p>Borough: {{event.borough}}</p>
          {% endif %}
          <p>{{event.date}}</p>
          <p>Creator: {{event.owner}}</p>
        {% endif %}
        </div>
      </div>
    {% endfor %}
  </div>

{% endblock content %} 
