{% extends 'base.html' %}

{% block content %}
  <div style="text-align: center; background-color: white; height: 800px; width: 100%;">
    <h1>{{object.name}} </h1> 
    <p>{{object.description}}</p>
    <p>Sport: {{object.sport.capitalize}}</p>
    <p>{{object.address}}</p>
    <p>Borough: {{object.borough}}</p>
    <p>{{object.date}}</p>
    <p>Creator: {{object.owner}}</p>
  
  {% if isAttending %}
      <a class="btn btn-primary" href="{% url 'unjoin-event' object.id %}">Unjoin Event</a>
  {% else %}
    <a class="btn btn-primary" href="{% url 'join-event' object.id %}">Join Event</a>
  {% endif %}

    <a class="btn btn-primary" href="{% url 'event-update' object.id %}">Update Event</a>
    <a class="btn btn-danger" href="{% url 'event-delete' object.id %}">Delete Event</a>
    <div style="margin-top: 1rem">
      <a href="{% url 'show' object.sport object.locationId %}">View all events at this location</a>
    <div>

    <h2>Attendees</h2>
      {% for attendee in attendees %}  
        <p>{{attendee}}</p>
    {% endfor %}
  </div>

{% endblock content %} 
